body { background: #ac3f61; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 29px; display: flex; }
.block-invoice-0 { color: #e13f34; font-size: 20px; margin-bottom: 5px; }
.block-session-1 { color: #3bb4ee; font-size: 13px; margin-bottom: 5px; }
.block-filter-2 { color: #9ebe2c; font-size: 17px; margin-bottom: 5px; }
.block-logger-3 { color: #e51e09; font-size: 21px; margin-bottom: 5px; }
.block-database-4 { color: #42647f; font-size: 19px; margin-bottom: 5px; }
.block-helper-5 { color: #cd332c; font-size: 18px; margin-bottom: 5px; }
.block-product-6 { color: #3ca0c1; font-size: 13px; margin-bottom: 5px; }
.block-sms-7 { color: #dda019; font-size: 18px; margin-bottom: 5px; }
.block-uploader-8 { color: #53118a; font-size: 18px; margin-bottom: 5px; }